@{
    ViewData["Title"] = "Danh sách mặt hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/custom/customCss/category.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
@section Scripts{
    <script src="~/custom/customJs/category/document.js"></script>
    <script src="~/custom/customJs/pagination/jquery.twbsPagination.min.js"></script>
    <script src="~/custom/customJs/category/Index.js"></script>
    <script src="~/plugins/sweetalert2/sweetalert2.all.js"></script>
    <script src="~/plugins/sweetalert2/sweetalert2.all.min.js"></script>
}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Categories Tables</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">CategoriesTables</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <input id="btnAddNew" type="button" class="btn btn-primary" value="New Category" />
                            <input id="btnEdit" type="button" class="btn btn-outline-warning" value="Edit Category" />
                            <input id="btnDelete" type="button" class="btn btn-outline-danger" value="Delete Category" />
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <!--<table id="tblcategory" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th><input type="checkbox" class="i-checks" id="checkAll"></th>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Seo Alias</th>
                                    <th>Seo Description </th>
                                    <th>Seo Title</th>
                                    <th>Show On Home</th>-->
                            @*<th>Action</th>*@
                            <!--</tr>
                                </thead>
                                <tbody>
                                </tbody>
                                <tfoot></tfoot>

                            </table>-->



                            <table class="table table-hover" id="tblcategory">
                                <thead>
                                    <tr>
                                        <th scope="col">
                                            <input class="i-checks" id="checkAll" type="checkbox" onclick="javascript:checkAll(this)">
                                        </th>
                                        <th class="sort_col_table" scope="col">ID</th>
                                        <th class="sort_col_table" scope="col">
                                            Name
                                            <i class="fa fa-exchange fa-rotate-90" aria-hidden="true"></i>
                                        </th>
                                        <th class="sort_col_table" scope="col">
                                            Seo Alias
                                            <i class="fa fa-exchange fa-rotate-90" aria-hidden="true"></i>
                                        </th>
                                      
                                        <th class="sort_col_table" scope="col">
                                            Seo Description
                                            <i class="fa fa-exchange fa-rotate-90" aria-hidden="true"></i>
                                        </th>
                                        <th class="sort_col_table" scope="col">
                                            Seo Title
                                            <i class="fa fa-exchange fa-rotate-90" aria-hidden="true"></i>
                                        </th>
                                    </tr>
                                    <tr>
                                        <th class="search_col_table"></th>
                                        <th class="search_col_table"></th>
                                        <th class="search_col_table">
                                            <input type="text" name="" id="myInputFile" onkeyup="myFunctionSearchFileTable()">
                                            <i class="fa fa-search" aria-hidden="true"></i>
                                        </th>
                                        <th class="search_col_table">
                                            <input type="text" name="" id="myInputTime" onkeyup="myFunctionSearchTimeTable()">
                                            <i class="fa fa-search" aria-hidden="true"></i>
                                        </th>
                                        <th class="search_col_table">
                                            <input type="text" name="" id="myInputFile" onkeyup="myFunctionSearchFileTable()">
                                            <i class="fa fa-search" aria-hidden="true"></i>
                                        </th>
                                        <th class="search_col_table">
                                            <input type="text" name="" id="myInputFile" onkeyup="myFunctionSearchFileTable()">
                                            <i class="fa fa-search" aria-hidden="true"></i>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                                <tfoot></tfoot>
                            </table>



                            <div id="pagination" class="pagination"></div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->

                </div>
            </div>
        </div>
    </section>

</div>

@*<input type="hidden" id="urlIndex" value="@Url.Action("Index","Category")" />*@


<!-- Modal -->
<div class="modal fade" id="categoryModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Category</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form role="form" class="form-group" id="frmValid">
                <div class="modal-body">
                    <input type="hidden" value="0" id="hidID">
                    <div class="row">
                        <div class="col-md-3">Name:</div>
                        <div class="col-md-9"><input id="txtName" name="txtName" required type="text" class="form-control input-modal" value="" /></div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">Seo Alias:</div>
                        <div class="col-md-9"><input id="txtSeoAlias" type="text" class="form-control input-modal" value="" /></div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">Seo Description:</div>
                        <div class="col-md-9"><input id="txtSeoDescription" type="text" required class="form-control input-modal" value="" /></div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">Seo Title:</div>
                        <div class="col-md-9"><input id="txtSeoTitle" type="text" class="form-control input-modal" value="" /></div>
                    </div>
                </div>
            </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="btnSave" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>


