@{ var culture = CultureInfo.CurrentCulture.Name; }
@{
    ViewData["Title"] = "Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts{
    <script src="~/js/cart.js"></script>
    <script>
        var cartController = new CartController();
        cartController.init();
    </script>
}
<ul class="breadcrumb">
    <li><a><localize>Home</localize></a> <span class="divider">/</span></li>
    <li class="active"> <localize>SHOPPING CART</localize></li>
</ul>
<h3> <localize> SHOPPING CART</localize> [ <small><span id="numberItem">0</span> Item(s) </small>]<a href="/" class="btn btn-large pull-right"><i class="icon-arrow-left"></i> <localize>Continue Shopping</localize> </a></h3>
<hr class="soft" />


<table class="table table-bordered" id="tblCart">
    <thead>
        <tr>
            <th><localize>Product image</localize></th>
            <th><localize>Name</localize></th>
            <th><localize>Quantity/Update</localize></th>
            <th><localize>Price</localize></th>
            <th><localize>Total</localize></th>
        </tr>
    </thead>
    <tbody id="cart-body">
    </tbody>
    <tfoot>
        <tr>
            <td colspan="4" style="text-align:right"><strong><localize>TOTAL =</localize></strong></td>
            <td class="label label-important" style="display:block"> <strong><span id="tbl-total"></span> </strong></td>
        </tr>
    </tfoot>
</table>


<a href="/" class="btn btn-large"><i class="icon-arrow-left"></i> <localize>Continue Shopping</localize> </a>
<a href="/@culture/Checkout/Checkout" class="btn btn-large pull-right"><localize>Next</localize> <i class="icon-arrow-right"></i></a>

