@{
    ViewData["Title"] = "Feedback";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="/custom/customCss/category.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

@section Scripts{
    <script src="/custom/customJs/pagination/jquery.twbsPagination.min.js"></script>
    <script src="/custom/customJs/mustache/mustache.min.js"></script>
    <script src="/plugins/jquery-validation/jquery.validate.min.js"></script>
    <script src="/custom/customJs/commonTable.js"></script>
    <script src="/custom/customJs/contact/index.js"></script>
    <script src="/plugins/sweetalert2/sweetalert2.all.js"></script>
    <script src="/plugins/sweetalert2/sweetalert2.all.min.js"></script>
}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Quản lý phản hồi khách hàng</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                        <li class="breadcrumb-item active">Phản hồi khách hàng</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">

                        <div class="card-body">
                            <table class="table table-bordered">
                                @*<thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Tên</th>
                                            <th>Email</th>
                                            <th>Số điện thoại</th>
                                            <th>Nội dung </th>
                                            <th>Trạng thái</th>
                                            <th>Hành động</th>
                                        </tr>
                                    </thead>*@


                                <thead>
                                    <tr>

                                        <th class="sort_col_table" scope="col">ID</th>
                                        <th class="sort_col_table" scope="col">
                                            Tên
                                            <i class="fa fa-exchange fa-rotate-90" aria-hidden="true"></i>
                                        </th>
                                        <th class="sort_col_table" scope="col">
                                            Email
                                            <i class="fa fa-exchange fa-rotate-90" aria-hidden="true"></i>
                                        </th>

                                        <th class="sort_col_table" scope="col">
                                            Số điện thoại
                                            <i class="fa fa-exchange fa-rotate-90" aria-hidden="true"></i>
                                        </th>
                                        <th class="sort_col_table" scope="col">
                                            Nội dung
                                            <i class="fa fa-exchange fa-rotate-90" aria-hidden="true"></i>
                                        </th>
                                        <th class="sort_col_table" scope="col">
                                            Trạng thái
                                            <i class="fa fa-exchange fa-rotate-90" aria-hidden="true"></i>
                                        </th>
                                        <th class="sort_col_table" scope="col">
                                            Hành động
                                            <i class="fa fa-exchange fa-rotate-90" aria-hidden="true"></i>
                                        </th>
                                    </tr>
                                    <tr>
                                        <th class="search_col_table"></th>
                                        <th class="search_col_table">
                                            <input type="text" name="" id="myInputName" onkeyup="myFunctionSearchName()">
                                            <i class="fa fa-search" aria-hidden="true"></i>
                                        </th>
                                        <th class="search_col_table">
                                            <input type="text" name="" id="myInputName" onkeyup="myFunctionSearchName()">
                                            <i class="fa fa-search" aria-hidden="true"></i>
                                        </th>
                                        <th class="search_col_table">
                                            <input type="text" name="" id="myInputSeoAlias" onkeyup="myFunctionSearchSeoAlias()">
                                            <i class="fa fa-search" aria-hidden="true"></i>
                                        </th>
                                        <th class="search_col_table">
                                            <input type="text" name="" id="myInputSeoDescription" onkeyup="myFunctionSearchSeoDescription()">
                                            <i class="fa fa-search" aria-hidden="true"></i>
                                        </th>
                                        <th class="search_col_table">
                                            <input type="text" name="" id="myInputSeoTitle" onkeyup="myFunctionSearchSeoTitle()">
                                            <i class="fa fa-search" aria-hidden="true"></i>
                                        </th>
                                        <th class="search_col_table">
                                            <input type="text" name="" id="myInputSeoTitle" onkeyup="myFunctionSearchSeoTitle()">
                                            <i class="fa fa-search" aria-hidden="true"></i>
                                        </th>
                                    </tr>
                                </thead>


                                <tbody id="tblData">
                                </tbody>
                            </table>
                            <br />
                            <div id="pagination" class="pagination"></div>
                        </div>


                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->

                </div>
            </div>
        </div>
    </section>

</div>

<script id="data-template" type="x-tmpl-mustache">
                 <tr>

                     <td>{{ID}}</td>
                     <td>{{Name}}</td>
                     <td>{{Email}}</td>
                     <td>{{PhoneNumber}}</td>
                     <td>{{Message}}</td>
                     <td>{{{Status}}}</td>
                     <td>
                         <button class="btn btn-default btnDetail" data-id="{{ID}}">Chi tiết </button>
                         <button class="btn btn-danger btnDelete" data-id="{{ID}}">Xóa </button>
                     </td>
                </tr>
</script>


<!-- Modal -->
<div class="modal fade" id="FeedbackModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Chi tiết phản hồi</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form role="form" class="form-group" id="frmValid">
                <div class="modal-body">
                    <input type="hidden" value="0" id="hidID">
                    <div class="row">
                        <div class="col-md-3">Name:</div>
                        <div class="col-md-9"><input id="txtName" disabled name="txtName" required type="text" class="form-control input-modal" value="" /></div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">Email:</div>
                        <div class="col-md-9"><input id="txtEmail" type="text" class="form-control input-modal" value="" disabled /></div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">Phone number:</div>
                        <div class="col-md-9"><input id="txtPhoneNumber" type="text" required class="form-control input-modal" value="" disabled /></div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">Message:</div>
                        <div class="col-md-9">
                            <textarea class="form-control input-modal" id="txtMessage" rows="4" disabled></textarea>

                        </div>
                    </div>
                </div>
            </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

