@{
    ViewData["Title"] = "Tin tức";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    p{
        text-align:justify;
    }
</style>

<div class="span9">
    <ul class="breadcrumb">
        <li><a href="/"><localize>Home</localize></a> <span class="divider">/</span></li>
        <li class="active"><localize>News</localize></li>
    </ul>
    <h3 style="color:orangered">[SỐNG KHỎE MỖI NGÀY] 9 LỢI ÍCH SỨC KHỎE VÀ GIÁ TRỊ DINH DƯỠNG CỦA HẠT MACCA</h3>
    <hr class="soft" />
    <h1><localize>News</localize></h1>
    <p>Đăng bởi LFM Marketing vào lúc 2020-11-30</p>
    <img src="/img-news/news-macca_1024x1024.jpg" />
    <p>
        Hạt macca có vị béo, ngậy và hương thơm nhẹ. Cây macca có thể trồng được ở nhiều điều kiện khu vực khác nhau.

        Giống như hầu hết các loại hạt, Macca có rất nhiều giá trị dinh dưỡng và mang lại nhiều lợi ích dành cho sức khỏe.

        Dưới đây là 10 lợi ích sức khỏe và giá trị dinh dưỡng của hạt macca đối với cơ thể.
    </p>
    <h5>1. Giàu chất dinh dưỡng</h5>
    <p>
        Hạt macca chứa rất nhiều chất béo tốt, vitamin và các khoáng chất. Dưới đây là chỉ số chất dinh dưỡng có trong 28gram macca:

        Lượng calo: 204 Chất béo: 23 gram Chất đạm: 2 gam Carb: 4 gam Đường: 1 gram Chất xơ: 3 gam Mangan: 58% giá trị hàng ngày (DV) Thiamine: 22% DV Đồng: 11% DV Magiê: 9% DV Sắt: 6% DV Vitamin B6: 5% DV

        Hạt Macadamia cũng rất giàu chất béo không bão hòa đơn, một loại chất béo có thể tăng cường sức khỏe tim mạch bằng cách giảm mức cholesterol toàn phần và LDL (có hại cho cơ thể). Loại hạt này chứa ít carbs và đường, có hàm lượng chất xơ vừa phải. Sự kết hợp này làm cho macca không có khả năng làm tăng lượng đường trong máu, điều này đặc biệt có lợi cho những người mắc bệnh tiểu đường.

        Kết: Hạt mắc ca rất giàu vitamin, khoáng chất và chất xơ nhưng lại ít carbs và đường. Hơn nữa, chúng có rất nhiều chất béo có lợi cho sức khỏe.
    </p>
    <h5>  2. Chống lại quá trình Oxy hóa</h5>
    <p>

        Giống như hầu hết các loại hạt, hạt macadamia là một nguồn chất chống oxy hóa tuyệt vời. Chất chống oxy hóa trung hòa các gốc tự do, là những phân tử không ổn định có thể gây tổn thương tế bào và làm tăng nguy cơ mắc các bệnh như tiểu đường, bệnh Alzheimer và bệnh tim. Ngoài ra, hạt macadamia chứa hàm lượng flavonoid cao nhất trong tất cả các loại hạt cây. Chất chống oxy hóa này chống lại chứng viêm và giúp giảm cholesterol. Hơn nữa, loại hạt này rất giàu tocotrienols, một dạng vitamin E có đặc tính chống oxy hóa có thể giúp giảm mức cholesterol. Những hợp chất này thậm chí có thể bảo vệ chống lại ung thư và các bệnh về não

        Kết: Hạt mắc ca chứa nhiều flavonoid và tocotrienols, chất chống oxy hóa giúp bảo vệ cơ thể, giúp chống lại các tổn thương tế bào và bệnh tật
    </p>
    <img src="/img-news/news-macca2_1024x1024.jpg" />
    <h5> 3. Tăng cường sức khỏe tim mạch</h5>
    <p>

        Hạt Macca có thể làm giảm nguy cơ mắc bệnh tim. Nhiều nghiên cứu khác nhau cho thấy rằng ăn 0,3–1,5 ounce (8–42 gam) các loại hạt này hàng ngày có thể làm giảm mức cholesterol toàn phần và LDL (có hại) lên đến 10%. Điều thú vị là một nghiên cứu nhỏ ở những người có hàm lượng cholesterol cao đã ghi nhận rằng, chế độ ăn uống có hạt macca làm giảm mức độ của dấu hiệu về cholesterol, ngang với chế độ ăn ít chất béo tốt cho tim được Hiệp hội Tim mạch Hoa Kỳ khuyến nghị Hơn nữa, ăn 1,5–3 ounce (42–84 gam) hạt macca mỗi ngày có thể làm giảm đáng kể các dấu hiệu viêm, chẳng hạn như leukotriene B4. Viêm là một trong những yếu tố gây nên bệnh tim. Các nhà nghiên cứu tin rằng lợi ích tim mạch của hạt macca có thể đến từ hàm lượng chất béo không bão hòa đơn cao của chúng. Chất béo luôn giúp sức khỏe tim mạch tốt hơn, giảm nguy cơ đột quỵ.

        Kết: Hạt Macadamia rất giàu chất béo có lợi cho tim mạch. Ăn một lượng nhỏ mỗi ngày có thể làm giảm các yếu tố nguy cơ bệnh tim như cholesterol cao và chứng viêm.


    </p>
    <h5>4. Giảm nguy cơ mắc bệnh tiểu đường</h5>
    <p>

        Nghiên cứu cho thấy rằng hạt macca có thể bảo vệ cơ thể chống lại cả hội chứng liên quan đến chuyển hóa dinh dưỡng và bệnh tiểu đường loại 2. Một nghiên cứu gần đây đã chỉ ra chế độ ăn dinh dưỡng gồm các loại hạt (bao gồm cả hạt macca) có liên quan đến việc giảm lượng đường trong máu vào lúc đói. Các chế độ ăn kiêng bao gồm trong bài đánh giá này cho phép mọi người ăn 1-3 ounce (28–84 gam) hạt mỗi ngày. Họ được cải thiện đáng kể mức độ hemoglobin A1c, một dấu hiệu kiểm soát lượng đường trong máu lâu dài. Hơn nữa, chế độ ăn giàu chất béo tốt - chiếm 80% chất béo trong hạt macca - có thể giúp giảm các yếu tố nguy cơ mắc hội chứng chuyển hóa, đặc biệt ở những người mắc bệnh tiểu đường loại 2.
    </p>

    <img src="/img-news/news-macca3_1024x1024.jpg" />
    <h5> 5. Hỗ trợ quá trình giảm cân</h5>
    <p>

        Mặc dù giàu calo nhưng hạt macca có thể hỗ trợ quá trình giảm cân. Điều này có thể được giải thích bởi lượng protein và chất xơ của chúng, hai chất dinh dưỡng được biết đến trong việc giảm cảm giác đói và thúc đẩy cảm giác no. Nghiên cứu thêm cho thấy rằng một phần chất béo trong các loại hạt có thể vẫn còn trong thành sợi của hạt trong quá trình tiêu hóa. Do đó, macca và các loại hạt khác có thể cung cấp ít calo hơn so với những gì được chứng minh trước đây. Trong một nghiên cứu kéo dài 3 tuần, 71 phụ nữ trẻ Nhật Bản ăn bánh mì hàng ngày với 10 gam hạt macca, dừa hoặc bơ. Những người trong nhóm ăn macca đã giảm 0,9 pound (0,4 kg) vào cuối cuộc nghiên cứu, trong khi những người ở các nhóm khác vẫn giữ nguyên trọng lượng.

        KeetsL Hạt Macca có thể làm giảm cảm giác đói và thúc đẩy cảm giác no, có lợi cho việc giảm cân. Chúng cũng có thể cung cấp ít calo hơn những gì được biết trước đây.



    </p>
    <h5> 6. Cải thiện sức khỏe đường ruột</h5>
    <p>
        Hạt Macca chứa chất xơ, có lợi cho tiêu hóa và sức khỏe tổng thể của đường ruột. Như hầu hết các loại hạt, chất xơ hòa tan trong hạt macca có thể giúp cung cấp vi khuẩn có lợi cho đường ruột. Những vi khuẩn này tạo ra các axit béo chuỗi ngắn (SCFAs), chẳng hạn như axetat, butyrate và propionat, có thể làm giảm viêm và bảo vệ khỏi các tình trạng như hội chứng ruột kích thích (IBS), bệnh Crohn và viêm loét đại tràng.

        Kết: Chất xơ hòa tan trong hạt macca hỗ trợ tiêu hóa của bạn bằng cách cung cấp vi khuẩn có lợi cho đường ruột của bạn. Đổi lại, điều này có thể cải thiện sức khỏe đường ruột của bạn.
    </p>
    <img src="/img-news/news-macca4_1024x1024.jpg" />
    <h5>  7. Hỗ trợ phòng chống ung thư</h5>
    <p>

        Hạt Macca chứa flavonoid và tocotrienol, các nghiên cứu trong ống nghiệm cho thấy chúng có thể giúp chống lại hoặc tiêu diệt tế bào ung thư.

    </p>
    <h5> 8. Tăng cường sức khỏe não bộ</h5>
    <p>   Nghiên cứu trên ống nghiệm và động vật cho thấy tocotrienol cũng có thể bảo vệ tế bào não khỏi các bệnh như Alzheimer và Parkinson.</p>
    <h5>  9. Tăng tuổi thọ</h5>
    <p>  Thường xuyên ăn các loại hạt, bao gồm cả hạt macca, có thể giúp giảm 1/3 nguy cơ đột quỵ.</p>
    <p>
        ————— <br />
        Y3n - Đặc sản Tây Nguyên <br />
        🌐 Website: https://www.macadamiadaklak.com/ <br />
        🛒 Mua hàng online tại: https://www.macadamiadaklak.com/ <br />
        ☎️ Mua hàng qua điện thoại: 0855.281.281 <br />
        📍 Mua hàng trực tiếp tại hệ thống cửa hàng Y3n Store trên toàn quốc. Xem địa chỉ cửa hàng tại: https://www.langfarm.com/dia-chi/dia-chi-store/ <br />

        Nguồn: healthline.com <br />


        Chia sẻ với bạn bè
    </p>

</div>
