@model onlineShopSolution.ViewModel.Catalog.Products.ProductCreateRequest

@{
    ViewData["Title"] = "Create product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts{
    <script src="https://cdn.ckeditor.com/ckeditor5/25.0.0/classic/ckeditor.js"></script>
<script>
 
    ClassicEditor
        .create(document.querySelector('#txtDetails'), {
            // toolbar: [ 'heading', '|', 'bold', 'italic', 'link' ]
        })
        .then(editor => {
            window.editor = editor;
        })
        .catch(err => {
            console.error(err.stack);
        });
</script>
}
<!-- .content-wrapper -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Create Product</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">CreateProduct</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">

                    <!-- /.card -->

                    <div class="card">
                        <div class="card-header">
                            @*<h3 class="card-title">DataTable with default features</h3>
                                <br />*@
                            <br />
                            <p>
                                <a class="btn btn-success" asp-action="Index">Back to List</a>
                            </p>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="col-md-8">
                                <form asp-action="Create" method="post" enctype="multipart/form-data">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                    <div class="form-group">
                                        <label asp-for="Name" class="control-label"></label>
                                        <input asp-for="Name" class="form-control" />
                                        <span asp-validation-for="Name" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Price" class="control-label"></label>
                                        <input asp-for="Price" type="number" class="form-control" />
                                        <span asp-validation-for="Price" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="OriginalPrice" class="control-label"></label>
                                        <input asp-for="OriginalPrice" type="number" class="form-control" />
                                        <span asp-validation-for="OriginalPrice" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Stock" class="control-label"></label>
                                        <input asp-for="Stock" type="number" class="form-control" />
                                        <span asp-validation-for="Stock" class="text-danger"></span>
                                    </div>

                                    <div class="form-group">
                                        <label asp-for="Description" class="control-label"></label>
                                        <textarea asp-for="Description" rows="5" class="form-control"> </textarea>
                                        <span asp-validation-for="Description" class="text-danger"></span>
                                    </div>

                                    <div class="form-group">
                                        <label asp-for="Details" class="control-label"></label>
                                        <textarea id="txtDetails" asp-for="Details" rows="35" class="form-control"></textarea>
                                        <span asp-validation-for="Details" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="SeoDescription" class="control-label"></label>
                                        <input asp-for="SeoDescription" class="form-control" />
                                        <span asp-validation-for="SeoDescription" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="SeoTitle" class="control-label"></label>
                                        <input asp-for="SeoTitle" class="form-control" />
                                        <span asp-validation-for="SeoTitle" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="SeoAlias" class="control-label"></label>
                                        <input asp-for="SeoAlias" class="form-control" />
                                        <span asp-validation-for="SeoAlias" class="text-danger"></span>
                                    </div>


                                    @*<div class="form-group">
            <label asp-for="IsFeatured" class="control-label"></label>
            <input type="checkbox" asp-for="IsFeatured" class="form-control" />
            <span asp-validation-for="IsFeatured" class="text-danger"></span>
        </div>*@



                                    <div class="form-group">
                                        <label asp-for="ThumbnailImage" class="control-label"></label>
                                        <input asp-for="ThumbnailImage" type="file" class="form-control" />
                                        <span asp-validation-for="ThumbnailImage" class="text-danger"></span>
                                    </div>

                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" asp-for="IsFeatured">
                                        <label class="form-check-label" asp-for="IsFeatured">
                                            <b>Featured Product</b>
                                        </label>
                                    </div>
                                    <br />

                                    <div class="form-group">
                                        <input type="submit" value="Save" class="btn btn-primary" />
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->

</div>
<!-- /.content-wrapper -->
