@model onlineShopSolution.ViewModel.System.Users.LoginRequest
@{
    ViewData["Title"] = "Đăng nhập";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var culture = CultureInfo.CurrentCulture.Name;
}
<ul class="breadcrumb">
    <li><a href="/"><localize>Home</localize></a> <span class="divider">/</span></li>
    <li class="active"><localize>Login</localize></li>
</ul>
<h3> <localize>Login</localize></h3>
<hr class="soft" />

<div class="row">
    <div class="span4">
        <div class="well">
            <h5>TẠO MỚI TÀI KHOẢN </h5><br />
            Vui lòng nhập địa chỉ email.<br /><br /><br />
            <form action="#">
                <div class="control-group">
                    <label class="control-label" for="inputEmail0">E-mail</label>
                    <div class="controls">
                        <input class="span3" type="text" id="inputEmail0" placeholder="Email">
                    </div>
                </div>
                <div class="controls">
                    <a href="/@culture/Account/Register" class="btn block">Tạo mới tài khoản</a>
                </div>
            </form>
        </div>
    </div>
    <div class="span1"> &nbsp;</div>
    <div class="span4">
        <div class="well">
            <h5>SẴN SÀNG ĐĂNG NHẬP</h5>
            <div asp-validation-summary="All" class="text-danger"></div>
            <form action="/@culture/Account/Login" method="post">
                <div class="control-group">
                    <label class="control-label" for="inputEmail1">Tên đăng nhập</label>
                    <div class="controls">
                        <input class="span3" type="text" name="UserName" placeholder="Email">
                        <span asp-validation-for="UserName" class="text-error"></span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputPassword1">Mật khẩu</label>
                    <div class="controls">
                        <input type="password" class="span3" name="Password" placeholder="Mật khẩu">
                        <span asp-validation-for="Password" class="text-error"></span>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <button type="submit" class="btn"><localize>Login</localize></button> <a href="#">Quên mật khẩu ?</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>



<div id="login" class="modal hide fade in" tabindex="-1" role="dialog" aria-labelledby="login" aria-hidden="false">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>Đăng nhập</h3>
    </div>
    <div class="modal-body">
        <h5>SẴN SÀNG ĐĂNG NHẬP</h5>
        <div asp-validation-summary="All" class="text-danger"></div>
        <form action="/@culture/Account/Login" method="post">
            <div class="control-group">
                <label class="control-label" for="inputEmail1">Tên đăng nhập</label>
                <div class="controls">
                    <input class="span3" type="text" name="UserName" placeholder="Email">
                    <span asp-validation-for="UserName" class="text-error"></span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputPassword1">Mật khẩu</label>
                <div class="controls">
                    <input type="password" class="span3" name="Password" placeholder="Mật khẩu">
                    <span asp-validation-for="Password" class="text-error"></span>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn"><localize>Login</localize></button> <a href="#">Quên mật khẩu ?</a>
                </div>
            </div>
        </form>
    </div>
    <button class="btn" data-dismiss="modal" aria-hidden="true">Thoát</button>
</div>

